dnspython>=2.1.0
doc2text>=0.2.4
docutils>=0.16
docx2txt>=0.8
Flask>=1.1.1
Flask-PyMongo>=2.3.0
gunicorn>=19.9.0
Jinja2>=2.11.2
Keras>=2.4.3
Keras-Preprocessing>=1.1.2
matplotlib>=3.3.2
numpy>=1.19.5
nltk>=3.4.5
pymongo>=3.11.3
PyMuPDF>=1.18.9
PyPDF2>=1.26.0
six>=1.15.0
sklearn>=0.0
spacy>=2.3.5
seaborn>=0.11.0
spacy-legacy>=3.0.1
tensorboard=2.4.1
tensorboard-plugin-wit>=1.8.0
tensorflow>=2.4.1
tensorflow-estimator>=2.4.0
Werkzeug>=1.0.1